* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  font-family: Helvetica;
  letter-spacing: 1.5px;
  color: rgb(1, 47, 73);
}

.body{
  display: flex;
}

.header{
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  margin-top: -1em;
  background-color:white;
  z-index: 1;
  height: 5rem;
}

.footer{
  display: flex;
  position: sticky;
  bottom: 0;
  margin-top: -1em;
  background-color: white;
  z-index: 1;
  height: 4.9rem;
  justify-content: center;
}


input{
  background-color: rgb(0, 32, 53);
  color: white;
  cursor: pointer;
  font-weight: bolder;
  padding: .5rem;
  font-size: .9rem;
}

input:hover{
  background-color: rgb(255, 255, 255);
  color:  rgb(0, 32, 53);
}

.img{
  height: 40px;
  width: 100px;
}

#menu>*:hover{
  border-bottom: 1px solid rgb(10, 59, 194);
  cursor: pointer;
}

#menu-name:hover{
  width: 244px;
}

#menu-project:hover{
  width: 97px;
}

#menu-about:hover{
  width: 68px;
}

#menu-container{
  display: flex;
  background-color: white;
  align-items: center;
  height: 85vh;
  width: 29rem;
  border-right: 3px solid rgb(206, 206, 206);
  position: fixed;
}

#menu{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 27vh;
  justify-content: space-around;
  
}

#body-container{
  display: flex;
  flex-direction: column;
  align-items: center;
   background-color: white;
   justify-content: center;
   width: 95%;
   margin-left: 20rem;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 90%;
  justify-content: center;
  align-self: flex-end;
  height: 86.5vh;
}



p{
  font-size: 22px;
}



.bio2{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 90%;
  justify-content: center;
  align-self: flex-end;
  height: 86.5vh;



}


.projects-container{
  background-color: white ;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 55%;

}

#contact-info{
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}


.app{
  width: 100%;
  padding: 1rem;
}

.btn{
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
}

.btn-container{
  align-self: flex-start;
}

.title{
  font-weight: bolder;
  font-size: 2rem;

}

h2, p{
  font-weight: 100;
}

#personal-bio{
  margin-bottom: 2rem;
}

.contact{
  padding: 1rem 1rem 0 0;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.project{
  border: 1px solid rgb(215, 215, 216);
  margin-bottom:  3rem
}

.picture{
  cursor: pointer;
  width:700px;
  height:350px;
}

.sub-headline{
  width: 80%;
  background-color:white;
  font-size: 22px;
}

.hidden{
  display: none;
}

h5{
  padding: 2rem;
  color: rgb(165, 160, 160);
}

@media screen and (max-width: 1410px) {
  #menu-container{
    width: 300px;
  }

}

@media screen and (max-width: 1195px){
  .project, .picture{
    width: 300px;


  }

}

